{% extends 'authenticate/base.html' %}

{% block content %}

<h2 class="text-center">Login</h2><br>

<div class="col-md-6 offset-md-3" style="float:none;margin:auto;">
<form method="POST">
    {% csrf_token %}
  <div class="mb-3">

    <input type="text" class="form-control"   placeholder="Enter Username" name="username">

  </div>
  <div class="mb-3">

    <input type="password" class="form-control" placeholder="Enter Password" name="password">
  </div>
  <div class="col text-center">
  <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
</div>

{% endblock %}